<html>

<head>
  <link href="static/login.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
  <div class="ui secondary menu">

    <a href="/" class="active item">
      Home
    </a>
    <a href="/login" class="item">
      Login
    </a>
    <a href="/register" class="item">
      Register
    </a>

  </div>

  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h2 class="ui image header">
        <div class="content">
          Log-in to your account
        </div>
      </h2>
      <form target="_blank" action="http://localhost:8000/token" method="POST" class="ui large form">
        <div class="ui stacked secondary  segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" id="username" value="admin@pedrito.com" name="username" placeholder="E-mail address">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" id="password" value="secret" name="password" placeholder="Password">
            </div>
          </div>
          <button id="submitBtn" class="ui fluid large orange submit button" value="Login">Login</button>
        </div>

        <div class="ui error message"></div>

      </form>

      <div class="ui message">
        New to us? <a href="/register">Register</a>
      </div>
    </div>
  </div>
  <script>
    // const getCookie = function (name) {
    //   const value = "; " + document.cookie;
    //   const parts = value.split("; " + name + "=");
    //   if (parts.length == 2) return parts.pop().split(";").shift();
    // };

    // const wmf_cookie = getCookie('wmf_cookie').split("'")[1];
    // console.log(wmf_cookie)
    const doLogin = (event) => {

      event.preventDefault();
      const username = document.getElementById("username").value;
      const password = document.getElementById("password").value;

      const formData = new FormData()
      formData.append("username", username)
      formData.append("password", password)

      fetch("http://localhost:8000/token", {
        method: "POST",
        body: formData
      })
        .then(res => res.json())
        .then(({ access_token }) => {
          // Here you should update the UI
          document.cookie = `wmf_cookie=${access_token};`
          console.log(access_token)
          // setTimeout(() => {
          //   window.location = "http://localhost:5000/me";
          // }, 1000);
          
        })
    }

    const loginBtn = document.getElementById('submitBtn')
    loginBtn.addEventListener('click', doLogin)

  </script>
</body>

</html>