<html>
  <head>
    <link href="{{ url_for('static', path='/login.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  </head>
  
  <body>
    <div class="ui secondary  menu">
      <a href="/" class="active item">
        Home
      </a>
      <a href="/login" class="item">
        Login
      </a>
      <a href="/register" class="item">
        Register
      </a>
    </div>
    <div class="ui middle aligned center aligned grid">
      <div class="column">
        <h2 class="ui image header">
          <div class="content">
            Register for an account
          </div>
        </h2>
        <form id = "form" action="/users" method="post"  class="ui large form">
          <div class="ui stacked secondary  segment">
            <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="text" id="fullname" value="testname" placeholder="Full Name">
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="text" id="email" placeholder="E-mail address">
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" id="password" value="testpassword" placeholder="Password">
              </div>
            </div>
            <input type="submit" value="Register" class="ui fluid large orange submit button">
          </div>
          <div class="ui error message" id="error"></div>
        </form>
      </div>
    </div>
    <script>
      // $(document)
      //   .ready(function() {
      //     $('.ui.form')
      //       .form({
      //         fields: {
      //           email: {
      //             identifier  : 'email',
      //             rules: [
      //               {
      //                 type   : 'empty',
      //                 prompt : 'Please enter your e-mail'
      //               },
      //               {
      //                 type   : 'email',
      //                 prompt : 'Please enter a valid e-mail'
      //               }
      //             ]
      //           },
      //           password: {
      //             identifier  : 'password',
      //             rules: [
      //               {
      //                 type   : 'empty',
      //                 prompt : 'Please enter your password'
      //               },
      //               {
      //                 type   : 'length[6]',
      //                 prompt : 'Your password must be at least 6 characters'
      //               }
      //             ]
      //           }
      //         }
      //       })
      //     ;
      //   });
      const userFullName = document.getElementById('fullname');
      const userEmail = document.getElementById('email');
      const userPw = document.getElementById('password');
        document.getElementById('form').onsubmit = function(e) {
          e.preventDefault();
          const name = userFullName.value;
          const email = userEmail.value;
          const password = userPw.value;
          userEmail.value = '';
          userPw.value = '';
          userFullName.value = '';
          fetch('/users', {
            method: 'POST',
            body: JSON.stringify({
              'full_name': name,
              'email': email,
              'password': password
            }),
            headers: {
              'Content-Type': 'application/json',
            }
          })
          .then(response => {
            const status = response.status;
            const myUrl = response.url;     
            if (status=="200") {
              Response.redirect("/dashboard")
            }
          })
          .then(jsonResponse => {
            console.log('response', jsonResponse);
          })
          .catch(function(error) {
            document.getElementById('error').className = '';
            console.log(error)
          })
        }

      
      

        // redirect look at status ocde
    </script>
  
  </body>
</html>