<html>
  <html>
  <head>
    <link href="{{ url_for('static', path='/dashboard.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  </head>
  <body>
    <div class="ui secondary  menu">
      <a class="active item">
        Home
      </a>
      <div class="right menu">
        <div class="item">
        </div>
        <a class="ui item">
          Logout
        </a>
      </div>
    </div>

    <div class="user">
      <h3>Hi user!</h3>

    </div>

    <div class="ui grid container">
      <div class="four wide column">b</div>
      <div class="four wide column">o</div>
      <div class="four wide column">00</div>
      <div class="four wide column">n</div>
      <div class="four wide column">o</div>
      <div class="four wide column">o</div>
      <div class="four wide column">o</div>
      <div class="four wide column">0</div>
    </div>

  </html>
